{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Extra</h4>
                            {{ form_start(form, {'attr' : {'class' : 'form-sample' }}) }}
                            <div class="subTitle">
                                <h4 class="card-title text-center m-4">Skill</h4>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Titre</label>
                                {{ form_widget(form.titleSkill) }}
                            </div>
                            <div class="subTitle">
                                <h4 class="card-title text-center m-4">Soft skill</h4>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Sous titre</label>
                                {{ form_widget(form.subTitleSoftSkill) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Titre</label>
                                {{ form_widget(form.titleSoftSkill) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Text</label>
                                {{ form_widget(form.textSoftSkill) }}
                            </div>
                            <div class="subTitle">
                                <h4 class="card-title text-center m-4">Footer</h4>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">GitHub</label>
                                {{ form_widget(form.github) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Linkedin</label>
                                {{ form_widget(form.linkedin) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4">Twitter</label>
                                {{ form_widget(form.twitter) }}
                            </div>
                            <button type="submit" class="btn btn-success mr-2">Envoyer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
