{% extends 'admin/base.html.twig' %}
{% block body %}
    {% for extra in extras %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row justify-content-center">
                    <div class="col-8 grid-margin mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">A propos</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center mb-5">Contact</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Sous titre :</label>
                                                <div class="col-sm-9">
                                                    {{ extra.subTitleContact }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Téléphone :</label>
                                            <div class="col-sm-9">
                                                {{ extra.numberPhone }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Adresse :</label>
                                            <div class="col-sm-9">
                                                {{ extra.address }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Email :</label>
                                            <div class="col-sm-9">
                                                {{ extra.email }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Texte :</label>
                                            <div class="col-sm-9">
                                                {{ extra.textContact[:300] ~ '...' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center m-5">Soft skill</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Titre :</label>
                                                <div class="col-sm-9">
                                                    {{ extra.titleSoftSkill }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Sous titre :</label>
                                            <div class="col-sm-9">
                                                {{ extra.subTitleSoftSkill }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Text :</label>
                                            <div class="col-sm-9">
                                                {{ extra.textSoftSkill[:300] ~ '...' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center m-5">Contact</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Image :</label>
                                                <div class="col-sm-9">
                                                    <img class="img-fluid img-thumbnail sizePictureTab"
                                                         src="/home/img/extra/{{ extra.imgContact }}" alt="jef dc">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center m-5">Footer</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">GitHub :</label>
                                                <div class="col-sm-9">
                                                    {{ extra.github }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Linkedin :</label>
                                            <div class="col-sm-9">
                                                {{ extra.linkedin }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Twitter :</label>
                                            <div class="col-sm-9">
                                                {{ extra.twitter }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('extra_edit', {'id' : extra.id}) }}">
                                    <button type="submit" class="btn btn-success mr-2">Éditer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}




