{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col-md-6 grid-margin stretch-card mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Admin</h4>
                            {{ form_start(form, {'attr' : {'class' : 'form-sample' }}) }}
                            <div class="form-group">
                                <label for="exampleInputName1">Name</label>
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail3">Password</label>
                                {{ form_widget(form.password) }}
                            </div>
                            <div class="form-group">
                                <label>Photo</label>
                                <input type="file" name="img[]" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                    {{ form_widget(form.img) }}
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                                    </span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

