{% block body %}
    <section class="contact-section set-bg spad" data-setbg="home/img/contact-bg.jpg" id="contact">
        <div class="container-fluid contact-warp">
            <div class="row justify-content-center">
                {% include 'home/flash_message.html.twig' %}
            </div>
            <div class="contact-text">
                <div class="container p-0">
                    <span class="sp-sub-title">Amazing studio</span>
                    <h3 class="sp-title">Stay in touch</h3>
                    <p>Integer nec bibendum lacus. Suspendisse dictum enim sit amet libero malesuada feugiat. Praesent malesuada congue magna at finibus. In hac habi tasse platea dictumst. Curabitur rhoncus auctor eleifend.</p>

                    <ul class="con-info">
                        <li><i class="flaticon-phone-call"></i>+45 677 8993000 223</li>
                        <li><i class="flaticon-envelope"></i>office@template.com</li>
                        <li><i class="flaticon-placeholder"></i>Main Str. no 45-46, b3, 56832,<br> Los Angeles, CA</li>
                    </ul>
                </div>
            </div>
            <div class="container p-0">
                <div class="row">
                    <div class="col-xl-8 offset-xl-4">
                        {{ form_start(form, {'attr' : {'class' : 'contact-form'}}) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_widget(form.name) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_widget(form.message) }}
                                    <button class="site-btn light">Envoyer</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}