{% block body %}
    <header class="header-section sp-pad">
        <h3 class="site-logo"></h3>
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="main-menu">
            <ul>
                {#<li><a href="{{ path('home', relative = true) }}#home">Home</a></li>#}
                <li><a href="{{ path('home', relative = true) }}#aboutUs">A propos</a></li>
                <li><a href="{{ path('home', relative = true) }}#portfolio">Portfolio</a></li>
                <li><a href="{{ path('home', relative = true) }}#competence">Compétence</a></li>
                <li><a href="{{ path('home', relative = true) }}#soft">Soft Skill</a></li>
                <li><a href="{{ path('home', relative = true) }}#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero-section" id="home">
        <div class="hero-slider owl-carousel">
            {% for intro in intros %}
            <div class="hs-item set-bg sp-pad" data-setbg="home/img/intro/{{ intro.img }}">
                <div class="hs-text">
                    <h2 class="hs-title">{{ intro.name }}</h2>
                    <p class="hs-des">{{ intro.title }}<br>{{ intro.subTitle }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}