{% extends 'admin/base.html.twig' %}
{% block body %}
    {% for extra in extras %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row justify-content-center">
                    <div class="col-8 grid-margin mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mail</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center m-5">Paramètre</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Host :</label>
                                                <div class="col-sm-9">
                                                    {{ extra.titleSkill }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Port :</label>
                                            <div class="col-sm-9">
                                                {{ extra.subTitleSoftSkill }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Encryptage :</label>
                                            <div class="col-sm-9">
                                                {{ extra.subTitleSoftSkill }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Utilisateur :</label>
                                            <div class="col-sm-9">
                                                {{ extra.subTitleSoftSkill }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Mot de passe :</label>
                                            <div class="col-sm-9">
                                                {{ extra.subTitleSoftSkill }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center m-5">Mail de reception message</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Objet :</label>
                                                <div class="col-sm-9">
                                                    {{ extra.titleSoftSkill }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Adresse mail d'envoie :</label>
                                            <div class="col-sm-9">
                                                {{ extra.subTitleSoftSkill }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nom du domaine :</label>
                                            <div class="col-sm-9">
                                                {{ extra.textSoftSkill[:300] ~ '...' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Adresse mail de reception :</label>
                                            <div class="col-sm-9">
                                                {{ extra.textSoftSkill[:300] ~ '...' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nom de l'admin :</label>
                                            <div class="col-sm-9">
                                                {{ extra.textSoftSkill[:300] ~ '...' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="subTitle">
                                            <h4 class="card-title text-center m-5">Mail d'envoie au visiteur</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Objet :</label>
                                                <div class="col-sm-9">
                                                    {{ extra.github }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Adresse mail d'envoie :</label>
                                            <div class="col-sm-9">
                                                {{ extra.linkedin }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nom du domaine :</label>
                                            <div class="col-sm-9">
                                                {{ extra.twitter }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('extra_edit', {'id' : extra.id}) }}">
                                    <button type="submit" class="btn btn-success mr-2">Éditer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}




