<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav position-fixed">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                </div>
            </div>
        </li>
        <li class="nav-item mt-5">
            <a class="nav-link" href="{{ path('admin_dashboard') }}">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('intro_index') }}">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">Intro</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('about_us_index') }}">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">A propos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('portfolio_index') }}">
                <i class="menu-icon mdi mdi-xml"></i>
                <span class="menu-title">Portfolio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('skill_index') }}">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">Compétence</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('soft_skill_index') }}">
                <i class="menu-icon mdi mdi-comment-text-outline"></i>
                <span class="menu-title">Soft Skill</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('contact_index') }}">
                <i class="menu-icon mdi mdi-email-outline"></i>
                <span class="menu-title">Contact</span>
            </a>
        </li>
        {#<li class="nav-item">#}
            {#<a class="nav-link" href="{{ path('extra_index') }}">#}
                {#<i class="menu-icon mdi mdi-code-tags"></i>#}
                {#<span class="menu-title">Extra</span>#}
            {#</a>#}
        {#</li>#}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-code-tags"></i>
                <span class="menu-title">Extra</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('extra_index') }}">parmètres du site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('extra_mail_setting') }}">Paramètres des emails</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('extra_mail_contenu') }}">Contenu des emails</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>