<!DOCTYPE html>

<title>SoftSkill</title>

{% block body %}
    <h1>SoftSkill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soft_skill.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ soft_skill.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ soft_skill.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('soft_skill_index') }}">back to list</a>

    <a href="{{ path('soft_skill_edit', {'id': soft_skill.id}) }}">edit</a>

    {{ include('soft_skill/_delete_form.html.twig') }}
{% endblock %}
