{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-12 grid-margin stretch-card mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Compétence</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Titre
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for skill in skills %}
                                        <tr>
                                            <td>
                                                <img src="/home/img/skill/{{ skill.img }}" alt="jef-dc">
                                            </td>
                                            <td>
                                                {{ skill.title }}
                                            </td>
                                            <td>
                                                <div class="delete">
                                                    <a href="{{ path('skill_edit', {'id': skill.id}) }}"><i class="mdi mdi-pencil-box-outline text-gray"></i></a>
                                                    {{ include('/admin/skill/_delete_form.html.twig') }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="mdi mdi-playlist-plus text-gray" href="{{ path('skill_new') }}">Créer</a>
    </div>

{% endblock %}
