{% extends 'admin/base.html.twig' %}
{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row justify-content-center">
            <div class="col-6 grid-margin mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Contact</h4>
                        {% for contact in contacts %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Téléphone :</label>
                                    <div class="col-sm-9">
                                        {{ contact.phone }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email :</label>
                                    <div class="col-sm-9">
                                        {{ contact.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adresse :</label>
                                    <div class="col-sm-9">
                                        {{ contact.address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Titre :</label>
                                    <div class="col-sm-9">
                                        {{ contact.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Sous titre :</label>
                                    <div class="col-sm-9">
                                        {{ contact.subTitle }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Texte :</label>
                                    <div class="col-sm-9">
                                        {{ contact.text }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label pl-4">Photo :</label>
                                    <div class="col-sm-9">
                                        <img class="img-fluid img-thumbnail sizePictureTab"
                                             src="/home/img/contact/{{ contact.img }}" alt="jef dc">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('contact_edit', {'id' : contact.id}) }}">
                            <button type="submit" class="btn btn-success ml-3 mt-3">Éditer</button>
                        </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
